<% layout('layout') -%>

<h1>Cart</h1>

<% if( !cart ) { %>

Nothing in your cart.

<% } else { %>
<table>

<% var entries = cart.entries || [] 
   for( var i = 0; i < entries.length; i++ ) {
     var entry = entries[i]
%>
<tr data-entry="<%-entry.id%>" class="entry">
<td><%-entry.name%></td>
<td align="right"><%-formatprice(entry.price)%></td>
<td class="remove">remove</td>
</tr>
<% } %>


<tr>
<th>Total</th>
<th align="right"><%-formatprice(cart.total)%></th>
</tr>

</table>
<% } %>


<br />
<a href="/checkout">checkout!</a>
<br />
<br />
<a href="/">buy more!</a>


<form id="cart_form" method="post" action="/api/cart/remove_entry">
<input type="hidden" id="entry_input" name="entry">
</form>
