<% layout('layout') -%>

<h1>Products</h1>

<div id="app01">Apple</div>
<div id="ora02">Orange</div>

<form id="prod_form" method="post" action="/api/cart/add">
<input type="hidden" id="code_input" name="code">
</form>