<% layout('layout') -%>

<h1>Login</h1>
<form id="login" action="/auth/login" method="post">

<p>
<label for="username">Username:</label><br />
<input name="username" />
</p>

<p>
<label for="username">Password:</label><br />
<input type="password" name="password" />
</p>

<p>
<input type="submit">
</p>
</form>

